/vendor/
/.idea/
/composer.lock
/.DS_Store
/src/Doc/.DS_Store
/src/.DS_Store
/*.log
/cache
/cache/*
/config/*.php
/seals.pid
/log
/log/*
/*.pid
/*/*.pid
/process_cache
/mysql.last
/mysql.pos
/logs
/http_process_cache
/http_process_cache/*