/vendor/
/.idea/
/composer.lock
/.DS_Store
/src/Doc/.DS_Store
/src/.DS_Store
/*.log
/cache
/cache/*
/config/*.php
/seals.info
/log
/log/*
/*.pid
/*/*.pid
/process_cache
/mysql.last
/mysql.pos
/logs
/http_process_cache
/http_process_cache/*
/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/session
/*.sh
/data/user/login/*.token
/web/public/*
/*.info
/update
