/vendor/
/dev/vendor/
/dev/cache
/dev/*.pid
/config/*.php
/old_version/config/*.php
/cache
/old_version/vendor
/old_version/cache
/old_version/http_process_cache
/old_version/process_cache
/old_version/logs
/old_version/data
/old_version/*.pid
/old_version/*.info
/old_version/*.pos
/old_version/*.last
/old_version/*.status
/old_version/session
/old_version/update
/old_version/*.read
/old_version/*.lock
/.idea/
/composer.lock
/dev/composer.lock
/.DS_Store
/src/Doc/.DS_Store
/src/.DS_Store
/*.log
/cache
/cache/*
/config/*.php
/seals.info
/log
/log/*
/*.pid
/*/*.pid
/process_cache
/mysql.last
/mysql.pos
/logs
/http_process_cache
/http_process_cache/*
/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/session
/*.sh
/data/user/login/*.token
/web/public/*
/*.info
/update
/general.last
/general.read
/master.status
/data/table/*.table
/data/report/*.report
/data/user/*.user
/data/user/roles/*.role
/composer