.title {
    font-weight: bold;
}
div.item {
    height: 25px;
}
li {
    list-style: none;
    border-bottom: #ccc solid 1px;
    height: 25px;
}
li span {
    display: inline-block;
    height: 25px;
    word-wrap: break-word;
    word-break: break-all;
    float:left;
}
span.group-id {
    width: 150px;
}
span.node-count {
    width:80px;
}
span a:hover {
    text-decoration: underline;
    font-weight: bold;
}
span a {
    cursor: pointer;
    color: #0000ff;
    text-decoration:none;
}
span.node-id {
    width: 180px;
    padding-right: 6px;
    overflow: hidden;
}
span.is-enable {
    width: 45px;
}
span.last-pos {
    width: 220px;
}
span.edit {
    width: 150px;
}
.nodes-list {
    padding-top: 15px;
}
span.is-leader {
    width:55px;
}
.right-tool {
    float: left;
    width: auto;
    height: 45px;
    margin-top: 12px;
}
.right-tool span {
    display: inline-block;
    padding: 8px 20px;
    border: #ccc solid 1px;
    border-radius: 3px;
    cursor: pointer;
}
.bth-refresh {
    background: #4B780A;
    color: #fff;
}
.hide {
    display: none;
}

span.start-time {
    width:165px;
}
span.time-len {
    width:165px;
}
span.edit a {
    margin-left: 3px;
    border: #ccc solid 1px;
}