<?php
/**
 * Created by PhpStorm.
 * User: yuyi
 * Date: 17/2/8
 * Time: 14:12
 */
return [
    //test1为数据库名称
    "test1" => [
        "host" => "127.0.0.1",
        "user" => "root",
        "password" => "123456"
    ],
    "test2" => [
        "host" => "127.0.0.1",
        "user" => "root",
        "password" => "123456"
    ],
    "test3" => [
        "host" => "127.0.0.1",
        "user" => "root",
        "password" => "123456"
    ]
];