<?php
/**
 * Created by PhpStorm.
 * User: yuyi
 * Date: 17/2/18
 * Time: 10:26
 */
return [
    "handler" => \Seals\Notify\Redis::class,
    "params"  => ["seals:event:list"]
];
//使用http发起事件通知
/*return [
    "handler" => \Seals\Notify\Http::class,
    "params"  => ["http://www.test.com/binlog"]
];
*/