<?php
/**
 * Created by PhpStorm.
 * User: yuyi
 * Date: 17/3/12
 * Time: 09:26
 */
return [
    "host"     => "localhost",
    "user"     => "admin",
    "password" => "admin",
    "port"     => 5672,
    "vhost"    => "/"
];