<?php
/**
 * Created by PhpStorm.
 * User: yuyi
 * Date: 17/3/14
 * Time: 14:53
 *
 * enable是否启用启用群集
 * 其他参数则是群集master服务使用的redis
 * group_id相同则认为是需要互斥的群集（一主多从）
 */
return [
    "group_id" => "wing-binlog",
    "host"     => "127.0.0.1",
    "port"     => 6379,
    "password" => null
];