body{
    width: 100%; height: 100%; overflow: hidden;
}
.msg-win{
    background: #fff; border: #666 solid 1px; width: 98%; height: 500px;
    overflow-y: scroll;
    position: absolute; left: 0; bottom: 100px;
}
.tool-bar{
    background: #fff; border: #666 solid 1px; width: 98%; height: 20px;
    position: absolute; left: 0; bottom: 80px;
}
.send-box{
    background: #fff;
    border: #666 solid 1px;
    width: 98%;
    height: 80px;
    position: absolute; left: 0; bottom: 0px;
}
.tool-icon{
    cursor: pointer;
    width: 20px;
}
.send-bth{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80px;
    line-height: 80px;
    width: 15%;
    border-left: #666 solid 1px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    z-index: 999;
}
.send-msg{
    position: absolute;
    padding: 5px 12px;
    left: 0;
    bottom: 0;
    height: 70px;
    line-height: 20px;
    width: 85%;
    border-left: #666 solid 1px;
    text-align: left;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.msg-list{
   /* position: absolute;
    left:0;
    bottom:0;*/
    width: 100%;
}
.msg-time{
     font-size: 12px;
    text-align: center;
}
.client-status{
    position: absolute;
    text-align: left;
    height: 20px; line-height: 20px;
    border-left: #666 solid 1px;
    top:0;
    right:0;
    width:15%;
    font-size: 12px;

}