<?php
/**
 * Created by PhpStorm.
 * User: yuyi
 * Date: 17/2/8
 * Time: 14:12
 */
return [
        "db_name"  => "ylb_activity",
        "host"     => "127.0.0.1",
        "user"     => "root",
        "password" => "123456",
        "port"     => 3306
];